:root {
    background-color:#0b626b;
}
.forest-background {
    background-image: url('https://tinyurl.com/5estdzkj'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 300px; /* Set an appropriate height for the background */
    text-align: center;
    padding: 2rem;
}
.results-list {
    margin-top: 1rem;
}
.card {
    margin-bottom: 0.5rem;
}
.title {
    color:white
}
.subtitle {
    color: #fff;
}

a{
    border-width: 10px;
}

#directions {
    color: black !important;
}
.aqi-number{
    text-align: center;
}
.main-svg{
    border-radius: 5%;
}

.header-title{
    -webkit-text-stroke: 2px #0b626b;
}

@media only screen and (max-width: 1300px){

    #results-card{
        flex-direction: column;
    }
    #park-title{
        text-align: center;
        margin-bottom: 10px;
    }
    .park-img{
        margin: 10px !important;
    }
    #results-card p {
        margin: 10px !important;
    }
    #directions{
        margin: 10px !important;
    }
}